@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.svglogo {
  width: 70px;
  height: 70px;
}

body {
  font-family: "Agdasima";
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto min-content auto;
  min-height: 100vh;
  background: linear-gradient(to right, white 50%, rgb(217, 241, 255) 50%);
}

article {
  align-self: flex-end;
  margin-bottom: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.info > h1 {
  font-size: 5rem;
  letter-spacing: 0.5rem;
}
.info > h2 {
  font-size: 2rem;
}

.vesikalik {
  width: 300px;
  height: 300px;
  border-radius: 15px;
}

.about {
  grid-column: 2/3;
  grid-row: 1/2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.about > h1 {
  font-size: 5rem;
  font-weight: lighter;
  letter-spacing: 0.5rem;
}
.about > p {
  width: 70%;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.2rem;
}

header {
  grid-row: 2/3;
  grid-column: 1/3;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
header > a {
  font-size: 4rem;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 0px 5px;

  transition: all 0.3s ease-in-out;
}
header > a:hover {
  opacity: 80%;
}
header > a:active {
  transform: scale(90%);
}

footer {
  grid-column: 1/3;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 50px;
}

footer > a {
  transition: all 300ms ease-in-out;
}

footer > a:hover {
  transform: scale(110%);
}
