@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  font-family: "Agdasima", sans-serif;
}

main {
  display: flex;
  width: 100%;
  min-height: 100dvh;
}

article {
  width: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.vesikalik {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.name {
  font-weight: bold;
  letter-spacing: 0.5rem;
  font-size: 5rem;
}

.title {
  font-size: 2rem;
}

.mailme {
  text-decoration: none;
  color: white;
  background-color: black;
  font-size: 4rem;
  padding: 0px 5px;
  transition: all 0.3s ease-in-out;
}
.mailme:hover {
  background: rgba(0, 0, 0, 0.8);
}
.mailme:active {
  transform: scale(90%);
}

.linkstab {
  display: flex;
  gap: 50px;
}
.svglogo {
  width: 70px;
  height: 70px;
}
.svglogo:hover source path {
  fill: white;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background: #e3e8fd;
}
.about > h1 {
  font-size: 5rem;
  letter-spacing: 0.5rem;
  font-weight: lighter;
}
.about > p {
  letter-spacing: 0.2rem;
  text-align: center;
  width: 70%;
  font-size: 2rem;
}

.toportfolio {
  background-color: black;
  outline: none;
  border: none;
  color: white;
  font-family: "Agdasima";
  font-size: 4rem;
  padding: 0px 5px;
  transition: all 0.3s ease-in-out;
}
.toportfolio:hover {
  background: rgba(0, 0, 0, 0.8);
}
.toportfolio:active {
  transform: scale(90%);
}
